body {
    background-color: navy;
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    display: grid;
}

.canvas{
    display: grid;
    place-content: center;
}

#canvas{
    background-color: peru;
}

#canvas2{
    background-color: peru;
}
